/** 
 * Make table responsive.
 **/
@media only screen and (max-width: 9px) {
	table.archicogrid td:nth-child(15), 
	table.archicogrid th:nth-child(15)
	
	{display: none;}
}	
 
@media only screen and (max-width: 7px) {
	table.archicogrid td:nth-child(11), 
	table.archicogrid th:nth-child(11),
	table.archicogrid td:nth-child(10), 
	table.archicogrid th:nth-child(10)
	
	{display: none;}
}


@media only screen and (max-width: 6px) {
	table.archicogrid td:nth-child(9), 
	table.archicogrid th:nth-child(9), 
	table.archicogrid td:nth-child(8), 
	table.archicogrid th:nth-child(8) 

	{display: none;}
}
 
@media only screen and (max-width: 5px) {
	table.archicogrid td:nth-child(7),
	table.archicogrid th:nth-child(7),
	table.archicogrid td:nth-child(6),
	table.archicogrid th:nth-child(6){display: none;}
}

@media only screen and (max-width: 4px) {
	table.archicogrid td:nth-child(5),
	table.archicogrid th:nth-child(5){display: none;}
}
